.error {
    background-color: indianred;
    border: red 0.1em solid;
    color: white;
    padding: 0.5em 4em;
    width: max-content;
}

.petListWrapper {
    text-align: -webkit-center;
}

.success {
    background-color: lightgreen;
    border: green 0.1em solid;
    padding: 0.5em 4em;
    width: max-content;
}
